#nav-icon {
	font-size: 30px;
}

.hidden-imp {
	display:none;!important
}

.schedule-hidden {
	display: none;
}

.schedule-add {
	padding-top: 2px;
	padding-bottom: 2px;
}

input[type=range] {
	padding: 0 10px;
	width: 100%;
}

.schedule-overview td {
	padding:0px;
}

.schedule-overview ul {
	padding:0px 5px;
	margin:0px;
	list-style-type:none;
	vertical-align:top;
	text-align:left;
}

.schedule-overview li:first-of-type {
	border-top:none;
}

.schedule-overview li {
	height:4%;
	margin:0px;
	font-size:8px;
	border-top:dashed 1px #CCC;
}

.schedule-overview li.on {
	background-color:#099;
}