#nav-icon {
	font-size: 30px;
}

.hidden-imp {
	display:none;!important
}

.schedule-hidden {
	display: none;
}

.schedule-add {
	padding-top: 2px;
	padding-bottom: 2px;
}

input[type=range] {
	padding: 0 10px;
	width: 100%;
}

.schedule-overview td {
	padding:0px;
}

.schedule-overview ul {
	padding:0px;
	margin:0px;
	height:450px;
	background-color:#CCC;
	list-style-type:none;
	vertical-align:top;
	text-align:left;
}

.schedule-overview li:first-of-type {
	border-top:none;
}

.schedule-overview li {
	padding-left:3px;
	height:4.167%;
	margin:0px;
	font-size:8px;
	border-top:solid 1px #CCC;
}

.schedule-overview li.n {
	background-color:#999;
}

.schedule-overview li.d {
	background-color:#EEE;
}

.schedule-overview li.nd {
    background: linear-gradient(#999, #EEE);
}

.schedule-overview li.dn {
    background: linear-gradient(#EEE, #999);
}

.schedule-day i {
	position:absolute;
	right:0;
	margin-right:16px;
}